<%- include("partials/header.ejs") -%>

<% contactArray.forEach(function(element) { %>
    
    <h2> <%= element.title %> </h2>

    <p> <%= element.content %> </p>

<% }); %>

<%- include("partials/footer.ejs") -%>